.title {
  margin-bottom: 20px;
}

.listWrapper {
  
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(59, 121, 246, 0.35);
  padding: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
